test/testdata/artifacts/update/Integration_Test_Message_Mapping/src/main/resources/xsd/DT_HCI_Conversion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="MT_HCI_Conversion" type="DT_HCI_Conversion" />
	<xsd:complexType name="DT_HCI_Conversion">
		<xsd:sequence>
			<xsd:element name="Line" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FieldA" type="xsd:string"/>
						<xsd:element name="FieldB" type="xsd:string"/>
						<xsd:element name="FieldC" type="xsd:string"/>
						<xsd:element name="FieldD" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>